/* generics */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

  .container{
      display: flex;
      flex-direction: column;
      width: 100vw;
      height: 100vh;
  }

/* utilities */

.flex{
    display: flex;
}


/* contnent */
.speaker{
    color: white;
    text-align: right;
    margin-top: 10px;
}

.view{
    background-color: rgba(74,74,74,255);
    padding: 5px;
    border-radius: 2px;
    font-size: 12px;
}

.maxi-box{
    flex-wrap: wrap;
    align-content: flex-start;
    width: 90vw;
    height: 80vh;
    border: 2px solid red;
    margin: 10px auto;
    justify-content: center;
}

.item{
    background-image: url("../img/img.jpeg");
    background-size: cover;
    height: 130px;
    width: 200px;
    margin: 1px;
}
/* debug */

.debug .container{
  background-color: black;
  }

.debug .speaker{
  height: 20px;
}